*
	box-sizing: border-box

html, body
	width: 100%
	min-height: 100vh
	display: flex
	flex-flow: column nowrap
	margin: 0
	padding: 0

.maincontent 
	flex: 1 0
	display: flex
	flex-direction: row
	align-content: space-between


ul, ol
	list-style: none
	padding: 0
	margin: 0

a
	text-decoration: none
	color: #000

h1, h2, h3, h4, h5, h6, p
	margin-bottom: 0
	font-weight: normal
	font-style: normal

.container
	margin: auto
	display: flex