.cooperation
    background: $blue
    padding: 50px 0

.cooperation__title
    margin-top: 0
    text-align: center
    font-weight: 300
    @include font ($basicFont, 3rem, $white)

.cooperation__link
    margin-top: 30px
    text-align: center
    font-weight: 700
    @include font ($basicFont, 2.5rem, $white)