{
    "root": true,
    "plugins": [
        "prettier"
    ],
    "extends": [
        "prettier"
    ],
    "rules": {
        "semi": ["warn","always"],
        "quotes" : ["warn", "single"],
        "prettier/prettier": "warn"
    },
    "parser": "babel-eslint"
}